.home {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 8%;
  gap: 5em;
  margin-top: 2rem;
  flex-direction: column;
  background-color: #000;
  color: #fff;
}

.home-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin-top: 3rem;
  text-align: center;
}

.home-content h3 {
  font-size: 24px;
  color: #007bff;
}

.home-content h1 {
  font-size: 48px;
  font-weight: 700;
  line-height: 1.2;
}

.typed-text {
  font-weight: bold;
}

.home-content p {
  font-size: 18px;
  line-height: 1.6;
}

.btn-box {
  display: flex;
  gap: 20px;
  margin-top: 2rem;
}

.btn-1,
.btn-2 {
  padding: 15px 30px;
  color: #fff;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn-1 {
  background-color: #007bff;
  color: #fff;
  border: none;
}

.btn-1:hover {
  background-color: #fff;
  color: #007bff;
  box-shadow: 0 0 15px #007bff;
}

.btn-2 {
  background: transparent;
  color: #007bff;
  border: 2px solid #007bff;
}

.btn-2:hover {
  background-color: #007bff;
  color: #fff;
  box-shadow: 0 0 15px #007bff;
}

.img-box {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-box img {
  height: auto;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(255, 69, 0, 0.2);
}

.fade-in {
  animation: fadeIn 1.5s ease forwards;
  opacity: 0;
}

.fade-in span {
  color: #007bff;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.typed-cursor {
  font-weight: bold;
  color: #007bff;
  animation: blink 0.7s infinite;
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

@media (width >= 768px) {
  .home {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 30px 12%;
    margin-top: 2rem;
  }

  .home-content h1 {
    font-size: 36px;
  }

  .home-content {
    text-align: left;
    width: 50%;
    line-height: 1.5;
    height: 100%;
    gap: 10px;
  }

  .btn-box {
    align-items: center;
    justify-content: flex-start;
    gap: 30px;
  }

  .img-box {
    width: 50%;
    height: 100%;
    justify-content: flex-end;
  }

  .img-box img {
    max-width: 400px;
  }
}
