* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Plus_Jakarta_Sans", sans-serif;
  text-decoration: none;
  list-style: none;
}

html {
  scroll-behavior: smooth;
  font-size: 100%;
}

body {
  overflow-x: hidden;
}

@media screen and (max-width: 480px) {
  html {
    font-size: 95%;
  }
}
